
/* .cont{
    margin-top: 200px;
    margin-bottom: 0;
    height: 100vh;
} */

.cont__inner{
    position: relative;
    height: 100%;
}


.cont_inner:hover .el__bg:hover{
    opacity:1;
}

.el{
    position: absolute;
    left: 0;
    top: 250%;
    width: 19.2%;
    background: #252525;
    transition: transform 0.6s 0.7s ease, width 0.7s ease, opacity 0.6s 0.7s ease, z-index 0s 1.3s ease ;
    will-change: transform, width, opacity;
}

.el:not(.s--active){
    cursor:pointer;
}

.el__overflow{
    overflow: hidden;
    position: relative;
    height: 100%;
}

.el__inner{
    
    overflow: hidden;
    position: relative;
    height: 100%;
    transition:transform 1s ease;
}

.cont.s--inactive .el__inner {
    transform: translate3d(0, 100%, 0);
}

.el__bg {
    position: relative;
    width: calc(100vw - 140px);
    height: 100%;
    transition: transform 0.6s 0.7s ease;
    will-change: transform;
}

.el__bg:before {
    content: '';
    position: absolute;
    left: 0;
    top: -5%;
    width: 100%;
    height: 110%;
    background-size: cover;
    background-position: center center;
    transform: translate3d(0, 0, 0) scale(1);
    transition: transform 1s ease;
}

.cont.--inactive .el__bg:before{
    transform: translate3d(0, 100%, 0) scale(1.2);
}

.el.s--active .el__bg:before{
    transition: transform 0.8s ease;
}

.el__bg:after{
    content: '';
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.5s ease;
}

.cont.s--el-active .el__bg:after{
    opacity: 1 !important;
    transition: opacity 0.5s 1.4s ease;
}

.el__preview-cont{
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s 1.2s;
}

.cont.s--inactive .el__preview-cont{
    opacity: 0;
    transform: translateY(10px);
}

.cont.s--el-active .el__preview-cont{
    opacity: 0;
    transform: translateY(30px);
    transform: all .5s;
}

.el__heading{
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    text-shadow: #000000 1px 0 2px;
}

.el__content{
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 30px;
    opacity: 0;
    pointer-events: none;
    transition: all .1s;
}

.el.s--active .el__content{
    z-index: 2;
    opacity: 1;
    pointer-events: auto;
    transition: all .5s 1.4s;
}

.el__text{
    margin-top: 10px;
    margin-right: 5%;
    text-transform: uppercase;
    font-size: 23px;
    color: #fff;
    text-shadow: #000000 1px 0 2px;
}

.el__close-btn{
    z-index: -1;
    position: absolute;
    top: 10px;
    width: 30px;
    height: 30px;
    opacity: 0;
    pointer-events: none;
    transition: all 0s .4s;
    cursor: pointer;
}

 .el.s--active .el__close-btn{
    z-index: 5;
    opacity: 1;
    pointer-events: auto;
    transition: all 0s 1.4s ; 
 }

.el__close-btn:before,
.el__close-btn:after{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 8px;
    margin-top: -4px;
    margin-bottom: 150px;
    background: #fff;
    opacity: 0;
    transition: opacity 0s;
}

.el.s--active .el__close-btn:before,
.el.s--active .el__close-btn:after {
    opacity: 1;
}

.el__close-btn:before{
    transform: rotate(45deg) translateX(100%);
}

.el.s--active .el__close-btn:before{
    transition: all .3s 1.4s cubic-bezier(.72, 0, .32, 1.57);
    transform: rotate(45deg) translateX(0);
}

.el__close-btn:after{
    transform: rotate(-45deg) translateX(100%);
}

.el.s--active .el__close-btn::after{
    transition: all .3s 1.55s cubic-bezier(.72, 0, .32, 1.57);
    transform: rotate(-45deg) translateX(0);
} 

.cont.s--el-active .el:nth-child(1):not(.el.s--active){
    transform: scale(0.5 translate3d(0%, 0, 0));
    opacity: 0;
    transition: transform 0.95s ease, opacity 0.95s ease;
    
}

.el:nth-child(1) .el__inner{
    transition-delay: 1s;
}

.el:nth-child(1) .el__bg{
    transform: translate3d(0%, 0, 0);
}

.el:nth-child(1) .el__bg:before{
    transition-delay: 1s;
    background-image: url("../src/cruzDelEje.jpg");
}

.el:nth-child(2){
    transform: translate3d(105.208333333%, 0, 0);
    transform-origin: 155.208333333% 50%;
}

.cont.s--el-active .el:nth-child(2):not(.el.s--active){
    transform: scale(.5) translate3d(105.208333333%, 0, 0);
    opacity: 0;
    transition: transform 0.95s ease, opacity 0.95s ease;
}

.el:nth-child(2) .el__inner{
    transition-delay: .1s;
}

.el:nth-child(2) .el__bg{
    transform: translate3d(-19.2%, 0, 0);
}

.el:nth-child(2) .el__bg:before {
    transition-delay: .1s;
    background-image: url("../src/Embalse.jpg");
}

.el:nth-child(3){
    transform: translate3d(210.41666666%, 0, 0);
    transform-origin: 260.41666666% 50%;
}

.cont.s--el-active .el:nth-child(3):not(.el.s--active){
    transform: scale(.5) translate3d(210.41666666%, 0, 0);
    opacity: 0;
    transition: transform 0.95s ease, opacity 0.95s ease;
}

.el:nth-child(3) .el__inner{
    transition-delay: .2s;
}

.el:nth-child(3) .el__bg{
    transform: translate3d(-30.4%, 0, 0);
}

.el:nth-child(3) .el__bg:before {
    transition-delay: .2s;
    background-image: url("../src/piedrasMoras.jpg");
}

.el:nth-child(4){
    transform: translate3d(315.625%, 0, 0);
    transform-origin: 365.625% 50%;
}

.cont.s--el-active .el:nth-child(4):not(.el.s--active){
    transform: scale(.5) translate3d(315.625%, 0, 0);
    opacity: 0;
    transition: transform 0.95s ease, opacity 0.95s ease;
}

.el:nth-child(4) .el__inner{
    transition-delay: .3s;
}

.el:nth-child(4) .el__bg{
    transform: translate3d(-57.6%, 0, 0);
}

.el:nth-child(4) .el__bg:before {
    transition-delay: .3s;
    background-image: url("../src/rioCeballos.jpg");
}

.el:nth-child(5){
    transform: translate3d(420.83333333%, 0, 0);
    transform-origin: 470.8333333% 50%;
}

.cont.s--el-active .el:nth-child(5):not(.el.s--active){
    transform: scale(.5) translate3d(420.8333333%, 0, 0);
    opacity: 0;
    transition: transform 0.95s ease, opacity 0.95s ease;
}

.el:nth-child(5) .el__inner{
    transition-delay: .4s;
}

.el:nth-child(5) .el__bg{
    transform: translate3d(-76.8%, 0, 0);
}

.el:nth-child(5) .el__bg:before {
    transition-delay: .4s;
    background-image: url("../src/SanRoque.jpg");
}

.el:hover .el__bg:after {
    opacity: 0;
}

.el.s--active {
    z-index: 1;
    width: 100%;
    transform: translate3d(0, 0, 0);
    transition: transform .6s ease, width .7s .7s ease, z-index 0s ease;
}

.el.s--active .el__bg {
    transform: translate3d(0,0,0);
    transition: transform 0.6s ease;
}

.el.s--active .el__bg:before{
    transition-delay: .6s;
    transform: scale(1.1);
}





